<nav class="navbar px-5 navigationButton">
    <div class="navbar">
        <p><img src="assets/logo.png" alt="" class="logo"></p>
        <p>Viraj Kalsariya</p>
    </div>
    <div class="spacer1"></div>
    <div class="navbar gap-4 ">
        <a class="text-decoration-none" [routerLink]="``" routerLinkActive="true">Home</a>
        <a class="text-decoration-none" [routerLink]="`about`">About</a>
        <a class="text-decoration-none" [routerLink]="`project`">Projects</a>
        <a class="text-decoration-none" [routerLink]="`playground`">Playground</a>
        <a class="text-decoration-none" [routerLink]="`research`">Research</a>
        <a class="text-decoration-none" [routerLink]="`contact`">Contact</a>
    </div>
    <div class="spacer2"></div>
    <div class="navbar">
        <mat-slide-toggle></mat-slide-toggle>
    </div>
</nav>