<div class="skills">
    <div class="p-2 mb-4 d-flex align-items-center">
        <span class="dot"></span>
        <span class="heading">Skills & Development</span>
    </div>

    <div class="d-flex justify-content-around row">
        @for(item of Skills(); track $index){
        <div class="p-2 col-xxl-3 col-xl-3 col-lg-5 col-md-5 col-sm-10 col-12">
            <div class="skillDiv">
                <div class="badgeWrapper row">
                    <div class="iconBadge">
                        <img src="{{item.src}}" class="logo">
                    </div>
                    <div class="col">
                        <span class="fs-5 title">{{item.title}}</span>
                    </div>
                </div>
                <div class="d-block">
                    @for(tools of item.tools; track $index){
                    <div class="toolNameTag">
                        @if(item.isToolLogoAvailable){
                        <div class="">
                            <img class="toolLogo" src="{{tools.logo}}" alt="">
                        </div>
                        }
                        <div class="toolName">
                            <span class="">{{tools.name}}</span>
                        </div>
                        @if(item.isToolRatingAvailable){
                        <div class="toolRating">
                            <mat-progress-bar class="colorbar" mode="determinate"
                                value="{{tools.rating}}"></mat-progress-bar>
                        </div>
                        }
                    </div>
                    }
                </div>
            </div>
        </div>
        }
    </div>

    <div class="coreStrength row justify-content-center align-items-center ">
        <div class="d-flex flex-column px-2 col-sm-12 col-md-3 col-lg-2 col-xl-2 col-xxl-2  justify-content-center align-items-center">
            <div class="strengthLogo ">
                <img src="{{strength().logo}}" alt="">
            </div>
            <div class="strengthTitle">
                <span>{{strength().title}} </span>
            </div>
            <!-- <div class="strengthDiscription">
                    <span>{{strength().discription}}</span>
                </div> -->
        </div>
        <!-- <div class="verticleLine"></div> -->
        <div class="strength d-flex mt-3 row justify-content-around px-3 col-12 col-sm-12 col-md-9 col-lg-10 col-xl-10 col-xxl-10">
            @for(item of strength().softSkills; track $index){
            <div class="d-flex flex-column align-items-center py-2 px-2 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="strengthsmallLogo">
                    <img src="{{item.skillLogo}}" alt="">
                </div>
                <div class="strengthSkillTitle">
                    <span>{{item.skillTitle}} </span>
                </div>
                <div class="strengthSkillDiscription">
                    <span>{{item.skillDiscription}}</span>
                </div>
            </div>
            }
        </div>

    </div>

</div>